---
layout: nil
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ site.name }}</title>
  <link rel="stylesheet" href="style.css" type="text/css" />
  <script type="text/javascript" src="http://use.typekit.com/lwy3lit.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

  <div id="header">
    <h1>{{ site.name }}</h1>
    
    <div id="sorts" class="option">
      <h2>Sort by</h2>
      <ul>
        <li>
          <input type="radio" name="sort" id="sort-name" value="original-order" checked />
          <label for="sort-name">Name</label>
        </li>
        <li>
          <input type="radio" name="sort" id="sort-styles" value="styles" />
          <label for="sort-styles"># of styles</label>
        </li>
        <li>
          <input type="radio" name="sort" id="sort-foundry" value="foundry" />
          <label for="sort-foundry">Foundry</label>
        </li>
      </ul>
    </div>

    <div class="serifs option">
      <h2>Serifs</h2>
      <ul>
        <li>
          <input type="radio" name="filter-serifs" id="filter-serifs-either" value="font" checked />
          <label for="filter-serifs-either">Either</label>
        </li>
        <li>
          <input type="radio" name="filter-serifs" id="filter-serifs-serif" value="serif" />
          <label for="filter-serifs-serif">Serif</label>
        </li>
        <li>
          <input type="radio" name="filter-serifs" id="filter-serifs-sans-serif" value="sans-serif" />
          <label for="filter-serifs-sans-serif">Sans-serif</label>
        </li>
      </ul>
    </div>

    <div class="library option">
      <h2>Library</h2>
      <ul>
        <li>
          <input type="radio" name="filter-library" id="filter-library-trial" value="trial-library" />
          <label for="filter-library-trial">Trial</label>
        </li>
        <li>
          <input type="radio" name="filter-library" id="filter-library-personal" value="personal-library" />
          <label for="filter-library-personal">Personal</label>
        </li>
        <li>
          <input type="radio" name="filter-library" id="filter-library-portfolio" value="font" checked />
          <label for="filter-library-portfolio">Portfolio</label>
        </li>
      </ul>
    </div>
    
    <div class="features option">
      <h2>Features</h2>
      <ul>
        <li>
          <input type="checkbox" />
          <label>Win OK</label>
        </li>
        <li>
          <input type="checkbox" />
          <label>Small caps</label>
        </li>
        <li>
          <input type="checkbox" />
          <label>Superfamily</label>
        </li>
      </ul>
    </div>

    </div> <!-- #filters -->

  </div>
  
  <ul id="list" class="clearfix">
    {% for font in site.fontdata %}
      {% if font.serif %}
        {% assign serif_output = 'Serif' %}
        {% assign serif_class = 'serif' %}
      {% else %}
        {% assign serif_output = 'Sans-serif' %}
        {% assign serif_class = 'sans-serif' %}
      {% endif %}

      {% capture item_class %} {{ font.slug }} {{ serif_class }} {% if font.styles > 4 %} extra-weights {% endif %} {% if font.extra_opticals %} extra-opticals {% endif %} {% if font.superfamily %} superfamily {% endif %} {% for tag in font.tags %} {{ tag }} {% endfor %} {% if font.library == 'trial' %} trial-library personal-library {% endif %}  {% if font.library == 'personal' %} personal-library {% endif %} {% endcapture %}

      <li class="font {{ item_class }}" data-windows-rating="{{ font.windows_rating }}" data-styles="{{ font.styles }}" data-foundry="{{ font.foundry.slug }}">
        <a href="http://typekit.com/fonts/{{ font.slug }}">
          <figure class="sample"></figure>
        </a>
        
        <p class="identity">
          <!--<strong class="name"><a href="http://typekit.com/fonts/{{ font.slug }}">{{ font.name }}</a></strong>-->
          by <span class="foundry"><a href="http://typekit.com/foundries/{{ font.foundry.slug }}">{{ font.foundry.name }}</a></span>
        </p>
        <p class="styles">
          <span class="number-of">{{ font.styles }} styles</span>
          <span class="serifs">{{ serif_output }}</span>
        </p>
        <p class="styles">
          <span class="library">{{ font.library | capitalize }}</span>
          <span class="win-ok">Win OK</span>
        </p>
        <!-- <ul class="font-data">
            
          {% if font.extra_weights %}<li class="extra-weights">Extra weights</li>{% endif %}
          {% if font.extra_opticals %}<li class="extra-opticals">Extra opticals</li>{% endif %}
          {% if font.superfamily %}<li class="superfamily">Superfamily</li>{% endif %}
          <li class="tags">
            <ul>
              {% for tag in font.tags %}<li>{{ tag }}</li>{% endfor %}
            </ul>
          </li>
        </ul> -->
      </li>
    {% endfor %}
  </ul>
  
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.js"></script>
  <script src="http://isotope.metafizzy.co/jquery.isotope.min.js"></script>
  <script>
    $(function(){
      var $list = $('#list'),
          filters = [],
          filterList = function(){
            var filterValue = '.' + filters.join('.');
            $list.isotope({ filter: filterValue });
          };
      
      $list.isotope({
        getSortData : {
          styles : function( $item ) { return 20 - $item.data('styles'); },
          foundry : function( $item ) { return $item.data('foundry'); }
        }
      });
      
      $('#sorts input').change(function(){
        $list.isotope({ sortBy: $(this).val() });
      });
      
      $('.serifs input').change(function(){
        filters[0] = $(this).val();
        filterList();
      });
      
      $('.library input').change(function(){
        filters[1] = $(this).val();
        filterList();
      });
      
      $('.adelle-web .number-of').click(function(){
        $('.adelle-web .sample').animate({
          height: '470px'
        });
        $('.adelle-web').animate({
          height: '609px'
        },function(){
          $('#list').isotope('reLayout');
        });
      });
      
    });
  </script>

</body>
</html>